.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__oGiBp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  row-gap: 24px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oGiBp {
    padding: 24px;
  }
}
.h4__eIQm {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__w5ZYj {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 24px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w5ZYj {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    column-gap: 0px;
  }
}
.metricCard__p1Paz:global(.__wab_instance) {
  position: relative;
}
.metricCard__uEbD4:global(.__wab_instance) {
  position: relative;
}
.metricCard__ap4Cd:global(.__wab_instance) {
  position: relative;
}
.freeBox__i2RIf {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-0vRcmFWbdHN0);
  row-gap: 8px;
  column-gap: 0px;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-VVi_JkU1nN9j);
}
.freeBox__yvib {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yvib {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.freeBox__b9V4K {
  display: flex;
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b9V4K {
    row-gap: 8px;
    column-gap: 0px;
  }
}
.h4___1C3J {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-hUNt2-1pJEXl);
  min-width: 0;
}
.positions:global(.__wab_instance) {
  object-fit: cover;
}
