.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-0vRcmFWbdHN0);
  row-gap: 8px;
  column-gap: 0px;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-VVi_JkU1nN9j);
}
.h2 {
  display: flex;
  flex-direction: row;
}
.h4 {
  display: flex;
  flex-direction: row;
}
.slotTargetSlot2 {
  color: var(--token-hUNt2-1pJEXl);
}
